@import url(normalize.css);
@import url(page.css);

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&family=Viga&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Viga&display=swap");

:root {
  font-family: "Roboto", sans-serif;
  font-family: "Viga", sans-serif;
  --text-color: #ffffff;
}
