@import url(normalize.css);
.page {
  box-sizing: border-box;
}

.page__wrapper {
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.design {
  background-image: url(/images/design.png);
  background-size: cover;
}

.motion {
  background-image: url(/images/motion.png);
  background-size: cover;
}

.engine {
  background-image: url(/images/engine.png);
  background-size: cover;
}
